<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>

        <!--     开启驼峰命名 映射           -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>


    </settings>

    <!--配置数据源 交给spring去做-->
    <typeAliases>
        <package name="com.lijunbo.domain"/>
    </typeAliases>


    <!--绑定配置文件-->
    <mappers>
        <mapper class="com.lijunbo.dao.MovieMapper"/>
        <mapper class="com.lijunbo.dao.TypeMapper"/>
        <mapper class="com.lijunbo.dao.UserMapper"/>
    </mappers>





</configuration>
